@import "fonts";
@import "variables";
@import "mixins";
@import "flip";

@include keyframes(pulse) {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.1);
  }
  100% {
    transform:translateY(1);
  }
}

.load-placeholder {
  background: $primary-black;
  text-align:center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999;
  img {
    height: 20vh;
    margin: 40vh auto;
    @include animation('pulse 1s infinite');
  }
}

.wrapper {
  position: relative;
  padding-bottom: 50px;
  min-height: calc(100vh + 75px);
}

body {
  background-color: $primary-white;
  font-size: 16px;
  color: $primary-black;
  font-family: $fontFamily;
  letter-spacing: 1px;
  width: 100%;
}

.logo-container svg{
  cursor: pointer;
}

.sub-container {
  width: 100%;
  height:40px;
  display: inline-block;
  color: $primary-blue;
  font-weight: bold;
  background-color: $primary-white;
  .sub-menu-left, .sub-menu-right {
    padding: 0px 25px;
    a {
      padding: 0px 5px;
      font-size: 1.1em;
      line-height: 40px;
      text-decoration: none;
      color: $primary-black;
      &:hover {
        color: $primary-blue;
      }
    }
    @include bp-extrasmall {
      padding: 0px 10px !important;
    }
  }
  .sub-menu-left {
    float: left;
    text-align: left;
    float: left;
    display: inline-block;
    font-size: 1.3em;
  }
  .sub-menu-right {
    float: right;
    text-align: right;
    float: right;
    display: inline-block;
  }
}

.fa, .fa:focus, .fa.active {
  font-size: 1.1em;
  vertical-align: middle;
  color: $primary-blue;
}

.menu-bar {
  height: 65px;
  background-color: $primary-black;
  text-align: center;
  line-height: 65px;
  font-size: 1.5em;
  margin-top: -7px;
  img.logo {
    height: 50px;
    margin-top: -5px;
    cursor: pointer;
  }
  .menu-icon-container {
    float: left;
    width:20%;
    display: inline-block;
    a, &:focus, a.active {
      color: $white;
      text-decoration: none;
      &:hover{
        color: darken($white, 50%);
      }
    }
  }
  .menu-button-container {
    display: none;
    @include bp-extrasmall {
      font-size: 1.5em;
      float: right;
      width:20%;
      display: inline-block;
    }
  }
  @include bp-small {
    font-size: 1em;
    .fa {
      font-size: 1.1em;
    }
  }
}

// main
.featured {
  text-align: center;
  margin-top: 20px;
  div {
    display: inline-block;
    word-wrap: break-word;
    font-size: 1.1em;
    cursor:pointer;
    padding: 0px 10px;
    @include bp-extrasmall {
      font-size: .9em;
      padding: 0px 5px;
    }
  }
  .active {
    text-decoration: underline;
    color: $primary-blue;
  }
}

// blogs
.blog-col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 15px auto;
  padding: 5px 5px;
  width: 25%;
  @include bp-large {
    width: 25%;
  }
  @include bp-medium {
    width: 33.3333%;
  }
  @include bp-small {
    width: 50%;
  }
  @include bp-extrasmall {
    width: 100%;
  }
  @include bp-mini {
    width: 100%;
  }
}
.blog-preview {
  display: none;
  cursor: pointer;
  float: none;
  margin: 0px auto;
  padding: 10px 10px;
  width: 85%;
  background-color: $white;
  box-shadow: 0px 1px 3px rgba($black, 0.2);
  min-height:200px;
  box-sizing: border-box;
  font-family: $fontFamily;
  img {
    width: 100%;
  }
  .blog-info {
    .blog-title {
      padding-top: 5px;
      font-size: 1em;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "avenir next", "verdana", "sans-serif";
    }
    .blog-date {
      font-size: .8em;
      text-align: right;
    }
  }
  .blog-text {
    font-size: 1em;
    text-align: left;
    height: 90px;
    overflow: hidden;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover {
    @include opacity(0.5);
  }
  @include bp-large {
    width: 85%;
  }
  @include bp-medium {
    width: 85%;
  }
  @include bp-small {
    width: 90%;
  }
  @include bp-extrasmall {
    width: 75%;
  }
  @include bp-mini {
    width: 80%;
  }
}

@include keyframes(bounce) {
  0% {
    transform:translateY(0%);
  }
  25% {
    transform:translateY(-20%);
  }
  50% {
    transform:translateY(0%);
  }
  75% {
    transform:translateY(-20%);
  }
  100% {
    transform:translateY(0%);
  }
}

.rounded-btn{
  position: absolute;
  padding: 15px 15px;
  @include border-radius(50%);
  z-index: 10;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  cursor: pointer;
  &.return-top {
    top: -25px;
    right: 20px;
    background-color: $primary-blue;
    @include animation('bounce 1.5s infinite');
    .fa {
      color: $white;
    }
    &:hover {
      .fa {
        color: $primary-black;
      }
    }
  }
  &.close-section {
    opacity: 1;
    top: 15px;
    right: 15px;
    background-color: $primary-black;
    .fa {
      color: $white;
    }
    &:hover {
      .fa {
        color: $primary-blue;
      }
    }
  }
}

// footer
footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-top: 10px;
  height: 50px;
  background-color: $primary-black;
  text-align: center;
  line-height: 50px;
  font-size: 1em;
  color: $white;
  display: none;
}

section[class$="-box"], section[class$="-box active"] {
  position: absolute;
  display: none;
  top:105px;
  left:0;
  width:100%;
  border-top: 2px solid $primary-blue;
  background-color: rgba($primary-blue, 0.9);
  height:calc(100vh - 105px);
  font-size: 2em;
  color: $primary-black;
  text-align: center;
  z-index: 10;
  overflow: scroll;
  div[class$="-container"] {
    margin-top: 34vh;
  }
  div[class$="-input"], div[class$="-icon"] {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    @include bp-small {
      line-height: 1em;
      font-size: .6em;
    }
  }
  div[class$="-input"] {
    width: 75%;
    input {
      padding-left: 10px;
      color: $primary-black;
      background-color: $primary-white;
      width: 100%;
      line-height: 2em;
      border: none;
      @include border-radius(2px);
      &:focus {
        outline: none;
      }
    }
  }
  div[class$="-icon"] {
    vertical-align: middle;
    padding: 0px 10px;
    cursor: pointer;
    @include bp-small {
      width: 95%;
    }
    button {
      background-color: $primary-black;
      color: $primary-blue;
      border: none;
      padding: 10px 25px;
      outline: none;
      &:hover {
        color: $primary-white;
      }
    }
    &:hover {
      color: $primary-blue;
    }
  }
}

.archive-box {
  .archive-container {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 400px;
    height: calc(100% - 100px);
    margin: 50px auto !important;
    @include bp-small {
      width: calc(70% - 100px);
      max-width: calc(100% - 100px);
    }
    @include bp-extrasmall {
      width: calc(90% - 100px);
      max-width: calc(100% - 100px);
    }
  }
  .months, .years {
    background-color: $primary-white;
    position: absolute;
    overflow: scroll;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 15px;
    .container {
      width: 100% !important;
    }
    a {
      text-decoration: none;
      color: $primary-black;
      &:hover {
        color: $primary-blue;
      }
    }
  }
}

.contact-box {
  .contact-container {
    margin: 23vh auto !important;
  }
  .contact-input * {
    margin-bottom: 15px;
    width: 100%;
  }
  textarea {
    margin-bottom: -10px !important;
    border: none;
    outline: none;
  }
  .contact-icon {
    margin-bottom: -10px;
  }
}

.archive-header {
  display: none;
  font-size: 1.2em;
  text-decoration: none;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

section.xs-menu{
  position: absolute;
  display: none;
  top:105px;
  left:0;
  width:100%;
  border-top: 2px solid $primary-blue;
  background-color: rgba($primary-black, 1);
  min-height:calc(100vh - 105px);
  font-size: 2em;
  color: $primary-black;
  text-align: center;
  .xs-menu-icon-container {
    float: left;
    display: inline-block;
    height: 50vw;
    width: 50vw;
    padding-top: calc(25vw - 1em);
    box-sizing: border-box;
    &:nth-of-type(1) {
      border-right: 1px solid $primary-blue;
      border-bottom: 1px solid $primary-blue;
    }
    &:nth-of-type(2) {
      border-left: 1px solid $primary-blue;
      border-bottom: 1px solid $primary-blue;
    }
    &:nth-of-type(3) {
      border-right: 1px solid $primary-blue;
      border-top: 1px solid $primary-blue;
      border-bottom: 2px solid $primary-blue;
    }
    &:nth-of-type(4) {
      border-left: 1px solid $primary-blue;
      border-top: 1px solid $primary-blue;
      border-bottom: 2px solid $primary-blue;
    }
    a, &:focus, a.active {
      color: $white;
      text-decoration: none;
      &:hover{
        color: darken($white, 50%);
      }
    }
  }
}

@include bp-extrasmall {
  .menu-icon-container:not(.logo-container) {
    display: none;
  }
  .logo-container {
    padding-left: 15px;
  }
}
